<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>首页管理</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/public/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/public/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/public/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/adminHtml/appIndexAdmin.css" />
	</head>

	<body>
		<div class="preview-contaner">
			<!--标题-->
			<div class="title-box">
				<div class="back"></div>
				<div class="title-text"></div>
			</div>

			<!--主体内容区-->
			<div class="preview-contaner2">
				<div class="preview-box" id="preview-box">
					<div id="scroller">

						<!--banner-->
						<div class="banner-box">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="img-box" style="background-image: url(http://img.tuku.cn/file_big/201504/772d5eb2a5ce45b59fa4998c41e51c99.jpg);"></div>
								</div>
								<div class="swiper-slide">
									<div class="img-box" style="background-image: url(http://desk.fd.zol-img.com.cn/t_s960x600c5/g5/M00/02/03/ChMkJlbKxtqIF93BABJ066MJkLcAALHrQL_qNkAEnUD253.jpg);"></div>
								</div>
							</div>
							<!-- 如果需要分页器 -->
							<div class="swiper-pagination"></div>
							
							<!--搜索-->
							<div class="search-box">
								<div class="img-box2">
									<img src="/imgs/adminHtml/homenav_ic_search_nor.png" />
								</div>
							</div>
							
							<!--遮挡框-->
							<div class="edit-box">
								<a class="edit-a" href="#">编辑</a>
							</div>
							
						</div>

						<!--目录导航-->
						<ul class="index-menu" id="index-menu">
							<li>
								<div class="img-wrap">
									<img src="/imgs/adminHtml/course.png" />
								</div>
								<div class="nav-text select">
									<span>课程中心</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
									<img src="/imgs/adminHtml/data.png" />
								</div>
								<div class="nav-text select">
									<span>资料中心</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
									<img src="/imgs/adminHtml/test.png" />
								</div>
								<div class="nav-text select">
									<span>考试中心</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
									<img src="/imgs/adminHtml/message.png" />
								</div>
								<div class="nav-text select">
									<span>消息中心</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
									<img src="/imgs/adminHtml/question.png" />
								</div>
								<div class="nav-text select">
									<span>问答天地</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
									<img src="/imgs/adminHtml/shop.png" />
								</div>
								<div class="nav-text select">
									<span>积分商城</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
									<img src="/imgs/adminHtml/diaoyan.png" />
								</div>
								<div class="nav-text select">
									<span>调研评估</span>
								</div>
							</li>
							<li>
								<div class="img-wrap">
									<img src="/imgs/adminHtml/zhibo.png" />
								</div>
								<div class="nav-text">
									<span>直播中心</span>
								</div>
							</li>
						</ul>

						<!--专题推荐-->
						<div class="special-box">
							<div class="module-title-box">
								<span class="title-text">特色专题</span>
								<span class="get-more">更多></span>
							</div>
							<div class="module-box">
								<!--推荐区 -->
								<div class="one-special">
									<div class="img-box" style="background-image: url(http://img.tuku.cn/file_big/201504/772d5eb2a5ce45b59fa4998c41e51c99.jpg);"></div>
									<div class="special-name-box">
										<span class="special-name">哈佛大学公开课 : 幸福的智承诺的基础你觉得呢超级大检查你多久慧合集</span>
									</div>
								</div>
								<div class="one-special">
									<div class="img-box" style="background-image: url(http://userimage8.360doc.com/16/1102/16/2630460_201611021659580837159058.jpg);"></div>
									<div class="special-name-box">
										<span class="special-name">哈佛大学公开课 : 幸福的智慧合集</span>
									</div>
								</div>
							</div>
							
							<!--遮挡框-->
							<div class="edit-box">
								<a class="edit-a" href="#">编辑</a>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>

			<!--底部导航-->
			<div class="bottom-nav-box">
				<div class="nav-node">
					<div class="img-wrap">
						<img src="/imgs/adminHtml/footer01.png" />
					</div>
					<div class="nav-text select">
						<span>首页</span>
					</div>
				</div>
				<div class="nav-node">
					<div class="img-wrap">
						<img src="/imgs/adminHtml/footer2.png" />
					</div>
					<div class="nav-text">
						<span>学习</span>
					</div>
				</div>
				<div class="nav-node">
					<div class="img-wrap">
						<img src="/imgs/adminHtml/footer3.png" />
					</div>
					<div class="nav-text">
						<span>问答</span>
					</div>
				</div>
				<div class="nav-node">
					<div class="img-wrap">
						<img src="/imgs/adminHtml/footer4.png" />
					</div>
					<div class="nav-text">
						<span>我的</span>
					</div>
				</div>
			</div>

		</div>

		<script src="/js/public/jquery-1.12.4.js"></script>
		<script src="/js/public/bootstrap.min.js"></script>
		<script src="/js/public/jroll.2.4.3.min.js"></script>
		<script src="/js/public/swiper.jquery.min.js"></script>
		<script src="/js/public/Sortable.min.js"></script>
		<script src="/js/adminHtml/appIndexAdmin.js"></script>
	</body>

</html>